/*
OMORI 2.0 CSS
CSS by tae
Edited by Flux
IGN: びこ
IGN: FluxFPS
Site: https://whuuayu.github.io/krunker
--Install Instructions--
    Right Click This Page and Click "Save Page As..."
--Changelog and License Info--
    
If you want to push an update or your name on the CSS, please consider donating <3
*/

/*The URL below is used for automatically updating the CSS, YOU DO NOT NEED TO TOUCH IT*/

@import url(https://snwrk.github.io/omori-css2.0/omori2.0.css);

/*Make Edits Below*/
